# Node.js
node_modules/
yarn-error.log
yarn-debug.log

# Exclude TypeScript build info
*.tsbuildinfo

# Python cache
__pycache__/

# Editor settings
.vscode/
*.dat

# Package lock files (not necessary in package)
package-lock.json
yarn.lock

# Custom exclusions for specific directories
/bin/
/lib/
/output/
/cache/
/installations/
/testOutput/*
*.zip

.prettierrc

.env
